/* Base */
html {
    min-height: 100%;
    position: relative;
    color: #757575;
}

a {
    color: #212121;
}

a:hover {
    text-decoration: none;
    color: #fec107;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3, h4 {
    font-size: 16px;
}

h5, h6 {
    font-size: 15px;
    font-weight: normal;
}

.container {
    max-width: 1000px;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.pi-block-title h2,
.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #212121;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #bdbdbd;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
#pi-system .pi-header {
    background: url('../image/header.jpg') rgba(0,0,0, .3) center center no-repeat;
    min-height: 600px;
    position: relative;
    text-align: center;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pi-portfolio .pi-header {
    background: url('../image/header-portfolio.jpg') rgba(0,0,0, .3) center center no-repeat;
    min-height: 500px;
    position: relative;
    text-align: center;
    color: #fff;
    background-size: cover;
}

.pi-header {
    background: url('../image/header-page.jpg') rgba(0,0,0, .3) center center no-repeat;
    min-height: 350px;
    position: relative;
    text-align: center;
    color: #fff;
    background-size: cover;
}

.pi-header .pi-header-user {
    height: 80px;
    background-color: rgba(1, 151, 166, 0.6);
}

.pi-header .pi-header-user h1,
.pi-header .pi-header-user h2 {
    padding: 0;
    margin: 3px 0;
    font-size: 35px;
}

.pi-userbar {
    padding-top: 13px;
}

.pi-header .pi-header-text {
    padding: 80px 0;
    text-shadow: 1px 1px 1px #000;
}

#pi-system .pi-header .pi-header-form {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+25&0+0,0.65+25 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 25%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 25%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.pi-header .pi-header-form {
    bottom: 0;
    padding: 25px 0;
}

.pi-header .pi-header-text h2 {
    padding: 0;
    margin: 35px 0;
    font-size: 35px;
}

.pi-header .pi-header-form h2 {
    padding: 0;
    margin: 20px 0;
    font-size: 25px;
}

.pi-header .navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    background: none;
}

#pi-portfolio .pi-header .navbar-default {
    background-color: rgba(0,0,0, .7);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid rgba(0,0,0, .9);
}

.pi-header .navbar-nav > li > a {
    color: #fff;
}

.pi-header .navbar-nav > li > a:hover,
.pi-header .navbar-nav > li > a:focus {
    color: #fec107;
    background-color: transparent;
}

.pi-header .navbar-nav > .active > a,
.pi-header .navbar-nav > .active > a:hover,
.pi-header .navbar-nav > .active > a:focus {
    color: #fec107;
    background-color: #6481a7;
}

.pi-header .navbar-nav > .disabled > a,
.pi-header .navbar-nav > .disabled > a:hover,
.pi-header .navbar-nav > .disabled > a:focus {
    color: #fec107;
    background-color: transparent;
}

/* section */
.pi-section {
    padding: 15px 0;
    background-color: #fff;
}

#pi-system .pi-section {
    margin-bottom: 0;
    padding-bottom: 0;
}

.pi-section .pi-module-content {
    padding: 15px;
    margin-bottom: 15px;
}

/* footer */
.pi-footer {
    background-color: #00bcd5;
    color: #fff;
    padding: 25px 0 0 0;
    font-size: 12px;
}

.pi-footer a {
    color: #fff;
}

.pi-footer a:hover {
    color: #fec107;
}

.pi-footer .pi-footer-social ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pi-footer .pi-footer-social ul li {
    font-size: 20px;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50px;
    color: #fff;
    padding: 5px 0 8px 0;
    text-align: center;
    border: 1px solid #fff;
}

.pi-footer .pi-footer-social ul li a {
    color: #fff;
}

.pi-footer .pi-footer-social ul li:hover {
    border: 1px solid #fec107;
}

.pi-footer .pi-footer-social ul li a:hover {
    color: #fec107;
}

.pi-footer .pi-footer-social .pi-footer-social-text {
    line-height: 75px;
    font-size: 20px;
}

.pi-footer .pi-footer-body {
    padding: 25px 0;
}

.pi-footer .pi-footer-body h3 {
    padding: 0 0 5px 0;
    margin: 0;
}

.pi-footer .pi-footer-body ul li {
    padding: 5px 15px;
}

.pi-footer .pi-footer-copyright {
    padding: 25px 0;
    background: #0197a6;
}

/* userbar */
.welcome-user-bar {
    display: inline-block;
    padding: 15px;
}

.pi-main-container-top,
.pi-main-container-bottom {
    margin-bottom: 60px;
    margin-top: 45px;
}

.pi-custom-product {
    text-align: center;
    padding-bottom: 25px;
    position: relative;
}

.pi-custom-product .thumbnail {
    border: 0;
    padding: 0;
    position: relative;
}


.pi-custom-product .thumbnail img {
    border-radius: 8px;
}

.pi-custom-product .thumbnail .caption {
    background-color: rgba(0,0,0, .1);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 100px;
}

.pi-custom-product .thumbnail:hover .caption {
    background-color: rgba(0,0,0, .5);
    border-radius: 8px;
}

.pi-custom-product .thumbnail:hover h3 {
    display: none;
}

.pi-custom-product .thumbnail p {
    display: none;
}

.pi-custom-product .thumbnail:hover p {
    display: block;
}

.pi-custom-product .thumbnail:hover p  {
    animation: 2s slide-up;
    margin-top:0%;
}

@keyframes slide-up {
    from {
        margin-top: 50%;
        height: 100%;
    }

    to {
        margin-top: 0%;
        height: 50%;
    }
}

.pi-section-box {
    padding: 25px 0;
}

.pi-section-box-1 .pi-section-icon-single img {
    padding-bottom: 20px;
}

.pi-section-box-1 .pi-section-icon-single {
    background: #d9d9d9;
    margin-bottom: 30px;
    height: 300px;
    border-radius: 8px;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 20px 4px rgba(217,217,217,1);
    -moz-box-shadow: 0px 1px 20px 4px rgba(217,217,217,1);
    box-shadow: 0px 1px 20px 4px rgba(217,217,217,1);

}

.pi-section-banner {
    color: #fff;
    padding: 80px 0;
}

.pi-section-banner h2 {
    font-size: 25px;
    margin: 25px 0;
}

.pi-section-banner-body {
    background-color: rgba(0,0,0, .4);
    padding: 10px;
    text-align: center;
}

.pi-section-banner-1 {
    background-image: url("../image/section-banner-1.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.pi-section-banner-1 .pi-section-banner-body {
    padding-top: 150px;
    height: 500px;
}

.pi-section-banner-2 {
    background-image: url("../image/section-banner-2.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.pi-section-banner-2 .pi-section-banner-body {
    padding-top: 80px;
    height: 300px;
}

.pi-section-icon {
    text-align: center;
}

.pi-section-icon i {
    font-size: 70px;
    height: 140px;
    width: 140px;
    border: 3px solid #333;
    border-radius: 100px;
    padding-top: 25px;
}

.pi-section-icon p {
    margin-top: 15px;
}

.pi-section-icon a {
    color: #fff;
    font-size: 15px;
}

.pi-section-icon-w,
.pi-section-icon-w a {
    color: #333;
}

.pi-section-icon-w a:hover {
    color: #ff0000;
}

.pi-section-icon-w a:hover i {
    border-color: #ff0000;
}

.pi-custom-feedback-single {
    background-color: #bdbdbd;
    padding: 25px;
    text-align: center;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 20px 4px rgba(217,217,217,1);
    -moz-box-shadow: 0px 1px 20px 4px rgba(217,217,217,1);
    box-shadow: 0px 1px 20px 4px rgba(217,217,217,1);
}

@media (min-width: 992px) {
    .modal-lg {
        text-align: right;
        color: #757575;
        width: 1100px;
    }
}

.portfolio-list .page-header {
    text-align: center;
}

.portfolio-list .thumbnail {
    border-color: #fff;
}

.portfolio-list .thumbnail .caption {
    background: rgba(1, 151, 166, 1) !important;
    text-align: center !important;
    height: 30px !important;
    margin-top: 0 !important;
}

.portfolio-list .thumbnail .caption h2 {
    padding: 0;
    margin: 0;
}

.portfolio-list h1 {
    display: none;
}

.portfolio-single .page-header {
    text-align: center;
}

.portfolio .thumbnail img {
    width: 350px !important;
}

.help-title {
    margin-top: 175px;
}

.help-image {
    margin: 50px;
}




/* Float */

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
}